.rst-content table.docutils td,
.rst-content table.docutils th {
    white-space: normal;
    vertical-align: text-top;
}

html.writer-html5 .rst-content table.docutils td>p,
html.writer-html5 .rst-content table.docutils th>p {
    font-size: .9rem;
    line-height: 1.4rem;
}

.rst-content cite {
    font-style: normal;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    font-size: 12px;
    line-height: 1.4;
    white-space: pre;
}
